/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
 }
.name{
  text-align: right;
  border style: none;
  margin-left: 30%;
  box-shadow: 1px 10px 5px 5px  #a0abbc;
  }
#logo{
   float:left;
      margin:0 auto;
      width: 100px;
      top:10px;
}

.article{
  text-align: center;
}

.footer{
  border style: none;
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 10px 10px 10px 10px  #a0abbc;
}
img.a{
  border-radius: 50%;
}
img.b{
  border-radius: 50%;
}

img.c{
  border-radius: 50%;
}
img.d{
  border-radius: 50%;
}
img.e{
  border-radius: 50%;
}
img.f{
  border-radius: 50%;
}
img.g{
  border-radius: 50%;
}
