/* No media query necessary for xs devices this is the defaualt in bootstrap*/
/* Extra small devices (phones, less than 576px) */
@media (min-width: 576px){
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 }

.header{
  text-align: right;
  border-bottom: 2px #a0abbc;
  margin-right: auto;
  
  }
#logo{
  float:left;
  margin-left: 20%;
  width: 100px;
  top:10px;
}
.article{
 text-align: center;

}
.footer{
  border style: none;
  position: relative;
  margin-right: 27%;
  margin-left: 28%;
  vertical-align: middle;
}
img.a{
  border-radius: 50%;
}
img.b{
  border-radius: 50%;
}
img.c{
  border-radius: 50%;
}
img.d{
  border-radius: 50%;
}

